@media(min-width: 2000px){
    .container .search-section{
        height: 400px;
    }

    .container .search-section h1{
        font-size: 50px;
    }

    .container .search-section .search-field .search-ip-input{
        font-size: 30px;   
    }

    .container .search-section .search-field .search-btn{
        font-size: 30px;   
    }

    .container .info-section{
        top: 290px;
    }

    .container .info-section .ip-info-field h2{
        font-size: 20px;
    }

    .container .info-section .ip-info-field p{
        font-size: 35px;
    }

    #map{
        height: 80%;
    }
}

@media(max-width: 920px){
    .container .search-section .search-field .search-ip-input{
        width: 50%;        
    }

    .container .info-section{
        width: 80%;
        top: 220px;
    }

    .container .info-section .ip-info-field h2{
        font-size: 12px;
    }

    .container .info-section .ip-info-field p{
        font-size: 18px;
    }
}

@media(max-width:700px){
    .container .info-section .ip-info-field {
        padding-inline: 10px;
        margin-bottom: 30px;
    }

    .container .info-section .ip-info-field h2{
        font-size: 10px;
    }

    .container .info-section .ip-info-field p{
        font-size: 16px;
    }
}

@media(max-width: 520px){
    .container .search-section{
        background: url(../images/pattern-bg-mobile.png);
        background-size: cover;
    }
    
    .container .info-section{
        width: 70%;
        height: 300px;
        flex-direction: column;
        text-align: center;
        border-radius: 12px;
        top: 160px;    
    }

    .container .info-section .ip-info-field{
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .container .info-section .ip-info-field:last-child p{
        display: inline;
    }

    .container .search-section .search-field .search-ip-input{
        width: 60%;
      }
}

 